html, body {
    --mdc-typography-font-family: "Open Sans";
    --mdc-typography-button-font-family: "Roboto", sans-serif;
    --mdc-typography-body1-font-family: var(--mdc-typography-font-family);
    --mdc-text-button-label-text-font: var(--mdc-typography-button-font-family);
    --mdc-protected-button-label-text-font: var(--mdc-typography-button-font-family);    

    --mdc-typography-headline1-font-size: 40px;
    --mdc-typography-headline1-line-height: 40px;
    --mdc-typography-headline1-font-weight: 700;
    --mdc-typography-headline1-margin: 0;

    --mdc-typography-headline5-font-size: 24px;
    --mdc-typography-headline5-line-height: 28px;
    --mdc-typography-headline5-font-weight: 500;
    --mdc-typography-headline5-margin: 0;

    --mdc-typography-headline6-font-size: 20px;
    --mdc-typography-headline6-line-height: 24px;
    --mdc-typography-headline6-font-weight: 400;
    --mdc-typography-headline6-margin: 20px;

    --mdc-theme-background: #f4f5f7;
    --mdc-theme-surface: #1e2738;
    --mdc-theme-primary: #fe655c;
    --mdc-theme-secondary: #465981;
    --mdc-theme-link: #629feb;
    --mdc-theme-icon: #d7dde9;

    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-background);
}

body {
    min-height: 100vh;
}

.mdc-typography {
    &--headline1 {
        margin: var(--mdc-typography-headline1-margin);
        color: var(--mdc-theme-secondary);
    }

    &--headline5 {
        margin: var(--mdc-typography-headline5-margin);
        color: var(--mdc-theme-secondary);
    }

    &--headline6 {
        margin-bottom: var(--mdc-typography-headline6-margin);
        color: var(--mdc-theme-secondary);
    }
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

pre {
    background: rgba(0,0,0,.1);
    padding: rem(10px);
    border-radius: rem(4px);
    white-space: break-spaces;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80vw;
}

/* tablet */
@media (max-width:839px) {
    .container {
        width: 98%;
    }
}

/* phone */
@media (max-width: 599px) {
    .container {
        width: 98%;
    }
}