.mdc-circular-progress--icon-button {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
}
.mdc-circular-progress--fab {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.mdc-circular-progress--fab-mini {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.mdc-circular-progress--fab-extended-start {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
}
.mdc-circular-progress--fab-extended-end {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}
.mdc-linear-progress--button {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--mdc-outlined-button-container-shape, var(--mdc-shape-small, 4px)) var(--mdc-outlined-button-container-shape, var(--mdc-shape-small, 4px)) 0 0;
}
.mdc-switch {
  --mdc-switch-selected-track-color: #eef6f0;
  --mdc-switch-selected-focus-track-color: #e5f2e9;
  --mdc-switch-selected-hover-track-color: #e5f2e9;
  --mdc-switch-selected-pressed-track-color: #e5f2e9;
  --mdc-switch-selected-focus-handle-color: var(--mdc-theme-primary);
  --mdc-switch-selected-hover-handle-color: var(--mdc-theme-primary);
  --mdc-switch-selected-pressed-handle-color: var(--mdc-theme-primary);
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__icon--leading {
  color: var(--mdc-theme-primary);
}
.mdc-checkbox__note {
  color: var(--mdc-theme-text-secondary-on-background);
  margin-top: -0.25rem;
  font-size: 0.6875rem;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mdc-checkbox__label--note {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 3.25rem);
  position: relative;
  top: 0.5rem;
}
.mdc-radio__note {
  color: var(--mdc-theme-text-secondary-on-background);
  margin-top: -0.25rem;
  font-size: 0.6875rem;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mdc-radio__label--note {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 3.25rem);
  position: relative;
  top: 0.5rem;
}
.mdc-form-field--full-width {
  width: 100%;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary);
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple:before {
  border-bottom-color: var(--mdc-theme-secondary);
}
.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple:before {
  border-bottom-color: var(--mdc-theme-secondary);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-secondary);
  background-color: rgba(0, 0, 0, 0.025);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-secondary);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary);
}
.mdc-text-field--rounded .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 1.75rem 0 0 1.75rem;
  width: 1.75rem;
}
.mdc-text-field--rounded .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 1.75rem 1.75rem 0;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled).mdc-text-field--select:after {
  background-color: var(--mdc-theme-primary);
}
.mdc-text-field--invalid :not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-error, #b00020);
}
.mdc-text-field--full-width {
  width: 100%;
}
.mdc-text-field--color {
  min-width: 10rem;
}
.mdc-text-field--color:after {
  content: attr(data-value);
  position: absolute;
  color: var(--mdc-theme-secondary);
  right: 3.875rem;
  top: 1.0625rem;
}
.mdc-text-field--select select {
  padding-right: 1rem;
}
.mdc-text-field--select select + .mdc-text-field__icon--trailing:not(.mdc-text-field__icon--affix) {
  margin-right: 1.5rem;
}
.mdc-text-field--select select ~ .mdc-text-field__affix--suffix {
  margin-right: 2rem;
}
.mdc-text-field--select option {
  font-family: var(--mdc-typography-button-font-family);
}
.mdc-text-field--select:after {
  content: "\00a0";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  pointer-events: none;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--mdc-theme-secondary);
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/></svg>");
}
.mdc-text-field__input--number {
  text-align: right;
  -moz-appearance: textfield;
}
.mdc-text-field__input--number::-webkit-outer-spin-button,
.mdc-text-field__input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mdc-text-field__input--date {
  -moz-appearance: textfield;
}
.mdc-text-field__input--date::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}
.mdc-text-field__input--color {
  width: 2rem;
  height: 2rem !important;
  border-radius: 0.25rem;
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
}
.mdc-text-field :not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--mdc-theme-secondary);
}
.mdc-text-field-helper-line {
  flex-direction: column;
}
.mdc-text-field-helper-text {
  color: var(--mdc-theme-text-secondary-on-background);
  font-size: 0.6875rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.25px;
}
